.home__text {
    padding: 0 6rem;
}

.home__content {
    width: 100%;
}

.dogs__list {
    padding-top: 2rem;
}

.dog {
    background-color: var(--light-gray);
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: var(--gray);
    padding: 1rem 0;
    text-align: left;

    font-weight: 400;
    line-height: 20px;
    z-index: 1;

    margin-top: 1rem;

}

.dog__image {
    margin: 0 auto;
    grid-row: span 4;
    align-self: center;
}

.dog-name {
    color: var(--blue);
    font-weight: 600;
}

.dog__informations {
    padding: 1rem 0 1.5rem 0;
}

.dog__information {
    font-size: 0.875rem;
}

.dog__city {
    font-size: 0.75rem;
}

.dog__contact {
    display: flex;
    padding-top: .5rem;
    justify-items: center;
}

.dog__speak-with {
    font-size: 0.625rem;
    margin-left: .5rem;
    margin-top: -0.1rem;
}