.index__content {
    margin: 0 auto;
    text-align: center;
    flex-grow: 1;
    margin-top: 1.5rem;
}


.index__title {
    font-size: 1.625rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
}

@media (min-width: 760px) {
    .index__title {
        font-size: 1.75rem;
    }
}
