.profile {
    text-align: center;
    color: var(--gray);
}

.photo {
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50px;

    background-size: contain;
    overflow: hidden;
}

.profile__title {
    font-size: 1.313rem;
    padding-bottom: 1rem;
}

.profile__span {
    color: var(--coral);
    font-size: 0.75rem;
    padding-bottom: 1rem;
}

