.bg__index {
    background-image: 
            url(../../image/background/header.png), 
            url(../../image/background/right.png), 
            url(../../image/background/dog-cat.svg);
    background-color: var(--blue); 
    background-repeat: no-repeat;
    background-position: 
        left top, 
        right center, 
        bottom 2rem center;
    background-size:16rem, auto, 45%;
}

.bg__01 {
    background-image: 
            url(../../image/background/Patas.png),
            url(../../image/background/header.png), 
            url(../../image/background/left.png);
    background-repeat: no-repeat;
    background-position: 
        right top,
        left top, 
        left bottom;                 
        background-size: auto, 16rem, 5rem;
}

.bg__01--login {
    background-position: 
        right top,
        left top, 
        left bottom 5rem;
}

.bg__02 {
    background-image: url(../../image/background/header.png),;
    background-repeat: no-repeat;
}







