.bg__index {
    background-color: var(--blue); 
    background-repeat: no-repeat;
}

.bg__01 {
    background-repeat: no-repeat;
}

.bg__02 {
    background-image: url(../../image/background/header.svg),;
    background-repeat: no-repeat;
}

/* MOBILE*/
@media screen and (min-width: 0px) {
    .bg__index{
        background-image: 
            url(../../image/background/mobile/Forma\ 1.png), 
            url(../../image/background/mobile/FormaRight.png), 
            url(../../image/background//tablet-pc/Ilustração\ 1.svg);
        background-position: 
        left top, 
        right center, 
        bottom 2rem center;
        background-size:18rem, auto, 45%;
    }

    .bg__01{
        background-image: 
            url(../../image/background/tablet-pc/Patas.png),
            url(../../image/background/mobile/Forma\ 1.png), 
            url(../../image/background/mobile/FormaLeft.png);
        background-size: auto, 18rem, auto;
        background-position: 
            right top,
            left top, 
            left bottom -3rem;                 
    }

    .bg__01--login {
        background-position: 
            right top,
            left top, 
            left bottom 5rem;
        background-size: 8rem, 18rem, 4rem;
    }

    .bg__02 {
        background-size: 18rem;
    }
}


/* TABLET */
@media screen and (min-width: 380px) {
    .bg__index{
        background-image: 
            url(../../image/background/tablet-pc/header.svg), 
            url(../../image/background/tablet-pc/right.svg), 
            url(../../image/background//tablet-pc/Ilustração\ 1.svg);
        background-position: 
        left top, 
        right center, 
        bottom center;
        background-size:auto, auto, auto;
    }

    .bg__01{
        background-image: 
            url(../../image/background/tablet-pc/Patas.png),
            url(../../image/background/tablet-pc/header.svg), 
            url(../../image/background/tablet-pc/left.svg);
        background-size: auto, 70%, auto;
        background-position: 
            right top,
            left top, 
            left bottom;                 
    }

    .bg__01--login {
        background-position: 
            right top,
            left top, 
            left bottom;
        background-size: auto, auto, auto;
    }

    .bg__02 {
        background-size: 18rem;
    }
}





