.bg__index {
    background-color: var(--blue); 
    background-image: 
        url(../../image/Forma\ 1.png), 
        url(../../image/FormaRight.png), 
        url(../../image/background/Ilustração\ 1.svg);
    background-position: 
        left top -1rem, 
        right center, 
        bottom center;
    background-size: 80%, auto, 50%;
    background-repeat: no-repeat;
}

.bg__01 {
    background-image: 
        url(../../image/Patas.png),
        url(../../image/Forma\ 1.png), 
        url(../../image/FormaLeft.png);
    background-position: 
        right top,
        left top, 
        left bottom 25%;
    background-size: auto;
    background-repeat: no-repeat;
}

.bg__02 {
    background-image: url('../../image/Forma\ 1.png');
    background-repeat: no-repeat;
}

@media screen and(max-width:360px) {
    .bg__index {
    }
}


