.menu {
    margin: 1.5rem 3rem;
    display: grid;
    justify-content: space-around;
    align-items: center;
    z-index: 0;

}

.menu__icon {
   display: flex;
   align-items: center;
}

.menu__logo {
    display: none;
}

/* MOBILE */
@media (min-width: 0px) {
    .menu {
        grid-template-columns:15% 15% 70%;
        width: 100%;
    }

    .menu__profile {
        justify-self: end;
    }
}

/* Tablet*/
@media (min-width:760px){
    .menu {
        grid-template-columns: auto auto auto 65%;
        padding: 3.5rem;
        width: 80%;
        margin: 0 auto;
    }

    .menu__logo {
        display: block;
        padding: 1rem;
    }
}

/* DESKTOP */
@media (min-width:1060px) {
    .menu {
        grid-template-columns: auto auto auto 80%;
    }

}


