.menu {
    padding: 2rem 3rem;
}

.menu__icon {
    padding-right: 2rem;
}

.menu__profile {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

/* Tablet*/
@media screen and(max-width: 768px) {
    
}