.menu {
    display: flex ;
    margin: 1.5rem 3rem;
    justify-content: left;
    align-items: center;
    z-index: 0;
}



/* MOBILE */
@media (min-width: 0px) {
    .menu {
        padding: 0;
    }
    .menu__logo {
        display: none;
    }

    .menu__icon {
        padding: 0 1rem;
    }

    .menu__profile {
        position: absolute;
        right: 5%;
        margin: 0 auto;
    }
}

/* Tablet*/
@media (min-width:670px){
    .menu {
        padding: 3.5rem;
        width: 80%;
        margin: 0 auto;
    }

    .menu__logo {
        display: block;
    }
}

@media (min-width:900px) {
    .menu {
       
    }
}

/* DESKTOP */
@media (min-width:1200px) {
    .menu {
        grid-template-columns: auto auto auto 80%;
    }

}




